{% extends "index_base.html" %}

{% block middle_area %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-2 column">
				</div>
				<div class="col-md-6 column">
					<div class="media well">
						 <!-- <a href="#" class="pull-left"><img src="v3/default7.jpg" class="media-object" alt='' /></a> -->
						<div class="media-body">
						<div style="text-align: center;"><strong style="color: Red">本站不开放注册，只限群成员</strong></div>
							<h4 class="media-heading">
								我们都爱巴西龟
							</h4> QQ群：92112862
							      <br>本群创建于2012/4/24,欢迎老手新手加群，将科普扫盲进行到底。。我们的口号是：养了就不要放生！</br> 
							<div class="media">
								 <img src="/static/images/QR.png" alt="无法显示二唯码" class="img-responsive center-block">
								<div class="media-body">
									<h6 class="media-heading" style="text-align: center;">
										扫描二唯码，马上加入我们
									</h6>
									<p>除了每年4月份举行群庆活动外，平日也经常不定时举行各种活动，群内气氛活跃和谐。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}