{% extends "index_base.html" %}

{% block js_content %}
<script>
$(document).ready(function(){
    $("#ret").click(function(){
    	window.location.href="/mycredit/";
    })
});
</script>
{% endblock %}

{% block middle_area %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
		{% if not reward %}
			<div class="alert alert-dismissable alert-danger">
				<strong>无相关数据!</strong><a href="/mycredit/" class="alert-link">返回</a>
			</div>
		{% else %}
			<table class="table table-hover table-striped">
				<tbody>
					<tr class="info">
						<td>
							{% if showRew %}
								中奖账号
							{% else %}
								兑换账号
							{% endif %}
						</td>
						<td>
							{{reward.username}}
						</td>
					</tr>
					<tr>
						<td>
							{% if showRew %}
								奖品
							{% else %}
								兑换物品
							{% endif %}
						</td>
						<td>
							{{reward.reward}}
						</td>
					</tr>
				{% if showRew %}
					<tr class="info">
						<td>
							中奖时间
						</td>
						<td>
							{{reward.reward_dt|date:"Y-m-d"}}
						</td>
					</tr>
					<tr>
						<td>
							是否已领奖
						</td>
						<td>
							{% ifequal reward.isExchg 1 %}
								是
							{% else %}
								否
							{% endifequal %}
						</td>
					</tr>
				{% endif %}
					<tr class="info">
						<td>
							{% if showRew %}
								领奖日期
							{% else %}
								兑换日期
							{% endif %}	
						</td>
						<td>
							{{reward.exchg_dt|date:"Y-m-d"}}
						</td>
					</tr>
				{% if showRew %}
					<tr>
						<td>
							失效日期
						</td>
						<td style="color: red;font-weight:bold;">
							{{reward.reward.reward_enddt|date:"Y-m-d"}}
						</td>
					</tr>
					<tr class="info">
						<td>
							领奖人姓名
						</td>
						<td>
							{{reward.exchg_name}}
						</td>
					</tr>
				{% endif %}
					<tr>
						<td>
							{% if showRew %}
								领奖人手机
							{% else %}
								兑换人手机
							{% endif %}	
						</td>
						<td>
							{{reward.exchg_phone}}
						</td>
					</tr>
				{% if showRew %}
					<tr class="info">
						<td>
							领奖人地址
						</td>
						<td>
							{{reward.exchg_addr}}
						</td>
					</tr>
					<tr>
						<td>
							领奖人邮编
						</td>
						<td>
							{{reward.addr_code}}
						</td>
					</tr>
					<tr class="info">
						<td>
							快递单号
						</td>
						<td>
							{% if reward.express_id %}
								{{reward.express_id}}
							{% else %}
								待管理员发货
							{% endif %}
						</td>
					</tr>
					<tr>
						<td>
							快递公司名称
						</td>
						<td>
							{% if reward.express_name %}
								{{reward.express_name}}
							{% else %}
								待管理员发货
							{% endif %}
						</td>
					</tr>
				{% endif %}
				{% if not showRew %}
					<tr>
						<td>
							抵扣积分
						</td>
						<td style="color: red;font-weight:bold;">
							{{reward.reward.reward_cost}}
						</td>
					</tr>
					<tr  class="info">
						<td>
							卡品类型
						</td>
						<td>
							{{ecard.ecardtype.ecardtype_desc}}
						</td>
					</tr>
					<tr>
						<td>
							卡号
						</td>
						<td>
							{{ecard.ecardnum}}
						</td>
					</tr>
					<tr class="success">
						<td>
							卡密
						</td>
						<td>
							{{ecard.ecardpsw}}
						</td>
					</tr>
				{% endif %}
					<tr class="info">
						<td>
							最后更新时间
						</td>
						<td>
							{{reward.update_ts|date:"Y-m-d H:i:s"}}
						</td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-primary btn-default" id="ret">返回</button>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}