{% extends "index_base.html" %}

{% block middle_area %}
			<div class="jumbotron">
				<h3>
					日常签到活动
				</h3>
				<p>
					每天签到可获得10积分，连续签到10天以上可获取15积分，积分可在即将上线的积分商城中兑换物品
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="/mycheckin/">去签到</a>
				</p>
			</div>
{% endblock %}


{% block footer_area %}
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				关于我们
			</h2>
			<p>
				我们都爱巴西龟,将科普扫盲进行到底。。我们的口号是：养了就不要放生！
			</p>
			<p>
				 <a class="btn" href="/about/">我要加入 »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				积分中心
			</h2>
			<p>
				随时查看你的积分、兑换、中奖记录及领取记录
			</p>
			<p>
				 <a class="btn" href="/mycredit/">马上查看 »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				参与讨论
			</h2>
			<p>
				在社区内，你可以发起各种话题，参与讨论，互相学习养龟知识
			</p>
			<p>
				 <a class="btn" href="/community/">我来说两句 »</a>
			</p>
		</div>
	</div>
{% endblock %}