<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- 可选的Bootstrap主题文件（一般不使用） -->
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="/static/js/jquery.goup.js"></script>

<link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>

    <script>
        $(document).ready(function(){
        	$.goup({
        		title : '返回顶部',
        		locationOffset : 100,
        		bottomOffset : 200,
        		containerColor : '#00008B',
        		arrowColor : '#fff',
        		trigger : 400,
        	});
        });
     </script>
{% block js_content %}{% endblock %}

<title>Love Turtle</title>
</head>
 
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand">
					<!-- logo here -->
					 <!-- <a href="/" class="navbar-brand" style="padding: 0;margin: 0"> -->
					 	<!-- <img src="/static/images/logo.jpg" height="50"/> -->
					 	LoveTurtle
					 </a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							 <span class="glyphicon glyphicon-user"></span>
							 {{showname}}
							<strong class="caret"></strong>
							 </a>
							<ul class="dropdown-menu">
							{% if not anymous %}
								<li>
									 <a href="/changepwd">修改密码</a>
								</li>
								<li>
									 <a href="/changeavatar/">个人头像</a>
								</li>
								<li>
									 <a href="/myprofile/">账号管理</a>
								</li>
								<li>
									 <a href="/mycredit/">积分奖品</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="/accounts/logout/">退出登录</a>
								</li>
						{% else %}
								<li>
									 <a href="/accounts/login/">登录</a>
								</li>
						{% endif %}
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					    {% if isStaff %}
					    <li>
					    	<a href="/admin">管理</a>
					    </li>
					    {% endif %}
						<li>
							 <a href="/">首页</a>
						</li>
						<li>
							 <a href="/mycheckin/">每日签到</a>
						</li>
						<li>
							 <a href="/smarket/">积分商城</a>
						</li>
						<li>
							 <a href="/community/">社区</a>
						</li>
						<li>
							 <a href="/about/">加入我们</a>
						</li>
					</ul>
				</div>
				
			</nav>
              {% block middle_area %}{% endblock %}
		</div>
	</div>
{% block footer_area %}{% endblock %}

</div>
</body>
</html>
