{% extends "index_base.html" %}

{% block middle_area %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						当前可用积分
					</h3>
				</div>
				<div class="panel-body">
					<strong style="color: red">{{userscores}}</strong>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
						中奖记录
					</h3>
				</div>
				<div class="panel-body">
					{% if not rewards %}
						无中奖记录！
					{% else %}
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							序号
						</th>
						<th>
							中奖日期
						</th>
						<th>
							奖品
						</th>
						<th>
							失效日期
						</th>
						<th>
							是否已领奖
						</th>
						<th>
							领奖日期
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
				{% for reward in rewards %}
					{% if forloop.counter|divisibleby:2 %}
					<tr class="info">
					{% else %}
					<tr class="warning">
					{% endif %}
						<td>
							{{forloop.counter}}
						</td>
						<td>
							{{reward.reward_dt|date:"Y-m-d"}}
						</td>
						<td>
							{{reward.reward}}
						</td>
						<td>
							{{reward.reward.reward_enddt|date:"Y-m-d"}}
						</td>
						<td>
							{% ifequal reward.isExchg 1 %}
								是
							{% else %}
								否
							{% endifequal %}
						</td>
						<td>
							{{reward.exchg_dt|date:"Y-m-d"}}
						</td>
						<td>
							{% for key,value in isOvdict.items %}
								{% ifequal key reward.id %}
									{% ifequal value 1 %}
										{% ifequal reward.isExchg 1 %}
											<a href="/myrewards/{{reward.id}}/">查看</a>
										{% else %}
											已失效
										{% endifequal %}
									{% else %}
										{% ifequal reward.isExchg 1 %}
											<a href="/myrewards/{{reward.id}}/">查看</a>
										{% else %}
											<a href="/getrewards/{{reward.id}}/">领取</a>
										{% endifequal %}
									{% endifequal %}
								{% endifequal %}
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
					{% endif %}
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						兑换记录
					</h3>
				</div>
				<div class="panel-body">
					{% if not exchanges %}
						无兑换记录！
						{% else %}
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							序号
						</th>
						<th>
							兑换日期
						</th>
						<th>
							兑换物品
						</th>
						<th>
							抵扣积分
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
				{% for exchg in exchanges %}
					{% if forloop.counter|divisibleby:2 %}
					<tr class="info">
					{% else %}
					<tr class="warning">
					{% endif %}
						<td>
							{{forloop.counter}}
						</td>
						<td>
							{{exchg.exchg_dt|date:"Y-m-d"}}
						</td>
						<td>
							{{exchg.reward}}
						</td>
						<td>
							{{exchg.reward.reward_cost}}
						</td>
						<td>
							<a href="/myrewards/{{exchg.id}}/">查看</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}