<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=UTF-8>
<title>Love Turtle</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
<div id="page">
<header>

	<img src="/static/images/logo.png" width="303" height="82" alt="logo" /> 
  
      <br />
      <img src="/static/images/bg_banner_grey.gif" width="980" height="5" alt="logo_banner" />

</header>

{% block content %}{% endblock %}

  <div id="sidebar">

	<ul>

    <li>

					{% block wlcinfo %}{% endblock%}

					<ul>
						            <li><a href="#">首页</a></li>
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">联系我们</a></li>
					</ul>
	  </li>

    </ul>
    <br />
    
     
  </div>
  <div style="clear: both;">&nbsp;</div>
  <img src="/static/images/bg_banner_grey.gif" width="980" height="5" alt="logo_banner" />
<footer>
<center>Thanks for visiting!</center>
</footer>
</div>
</body>
</html>
