{% extends "index_base.html" %}

{% block content %}
  <div id="content">
      <div class="post">
        <h2>About Beady Site</h2>
        <p>
        Bla bla bla a load of old nonsense goes here in this area, move on nothing of interests to read here just a load of old nonsense.Bla bla bla a load of old nonsense goes here in this area, move on nothing of interests to read here just a load of old nonsense. </p>
        <p>
        Bla bla bla a load of old nonsense goes here in this area, move on nothing of interests to read here just a load of old nonsense.Bla bla bla a load of old nonsense goes here in this area, move on nothing of interests to read here just a load of old nonsense.
        </p>
        
    </div>
</div>
{% endblock %}

{% block wlcinfo %}
<h2>欢迎,{{username}} {% if has_login_bf %}当天已登陆{% endif %} <a href=http://{{hostinfo}}/accounts/logout>注销</a></h2>
{% endblock %}