<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/Login.css"/>  
</head>  
<body>  
    <div id="login">  
        <h1>Login</h1>  
        {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
        {% endif %}
        <form method="post"> {% csrf_token %}
            <label for="username">User name:</label>
            <input type="text" name="username"></input>  
            <label for="password">Password:</label>
            <input type="password" name="password"></input>  
            <button class="but" type="submit">登录</button>  
        </form>  
    </div>  
</body>  
</html> 
